<div class="card">
  <div class="card-body">
    <form (submit)="addCompras($event)">
      <div class="input-group">
        <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="add compra" class="form-control">
        <span class="input-group-addon">
          <button type="submit" class="btn btn-primary">add Compra</button>
        </span>
      </div>
    </form>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>falabella</th>
      <th>comprar seguro</th>
      <th>comprar polisa</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c1 of compra" >
      <td>
        <input type="checkbox" [checked]="c1.isDone" (click)="updatecompra(c1)" >
      </td>
      <td> {{c1.nombre}} </td>
      <td>
        <button class="btn btn-danger" (click)="deleteCompra(c1._id)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
